<div class='content'>
  <% if params[:search] %>
    <!-- Render when search params present -->
    <%= render 'search_results' %>
  <% else %>
    <!-- Basic home view. -->
    <%= render 'home_view' %>
  <% end %>
</div>
