<p>
  A MathRES account (through AIM) has been set up for you! If you're not in the loop and don't understand why you're receiving this email, it's because you were (at some point) part of the conversation to create a website of amazing resources. If you're still unsure of what's going on you can email mathres@aimath.org and we can clarify things further :)
</p>
<p>
  Please use the following information to login to <%= link_to 'MathRES App', 'http://problems.herokuapp.com' %>
</p>

<p>
  <b>Email:</b> <%= @user.email %>
</p>

<p>
  <b>Password:</b> <%= @password %>
</p>
<p>
  You can update your account information once you login. <b>If you have troubles logining in with the password provided please try resetting your password via the login screen.</b>
</p>

<p>
  Please login, add some content and take some notes of what needs to be added, removed, or changed.
</p>

<p>
  If you're having major issues please email mathres@aimath.org. The man behind the curtain is Travis Sperry. Be patient... it's a work in progress.
</p>