<div class="col-xs-12 col-md-4 form-field">
  <label>
    <span contenteditable="true">NEW TOPIC</span>
    <span class="inline-edit">
      <a href="#">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="drag-icon-inner" href="javascript:void(0);">
        <i class="fa fa-arrows"></i>
      </a >
    </span>
  </label>
  <textarea class="form-control" id="id" name="name" rows="1"></textarea>
  <a class="add-topic text-right" href="javascript:void(0);">
    <i class="fa fa-plus-circle"></i>
    ADD TOPIC</a>
</div>
