<div class="box-problem-description box-orange">
  <div class="title-container">
    <span class="title-icon"><i class="fa fa-file-text-o"></i></span>
    <h2 class="title-text">The Other Stuff</h2>
  </div>
  <div class="problem-description">
    <% @project.project_other_fields.each do |field| %>
    <div class="problem-description-content">
      <h3 class="problem-description-caption"><%= field.name %></h3>
      <div class="image-panel"></div>
      <div class="content-panel">
        <%= simple_format(field.content, wrapper_tag: "p", sanitize: false) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
