<div class="attachment_fields">
  <div class="resource-item">
    <span class="resource-item-caption">Resource</span>
    <%= link_to '#', class: "remove_fields resource-item-close" do %>
      <i class="fa fa-times-circle"></i>
    <% end %>
    </a>
    <%= f.input :resource, as: :file %>
  </div>
</div>
