<div class="col-xs-12 col-md-4 form-field full">
  <label>
    <span class="field-name" contenteditable="true"><%= f.object.name ? f.object.name : "NEW TOPIC" %><%= f.input :name, as: :hidden,input_html: { class: 'hidden' } %></span>
    <span class="inline-edit">
      <a href="#">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="drag-icon-inner" href="javascript:void(0);">
        <i class="fa fa-arrows"></i>
      </a>
    </span>
  </label>
  <%= f.input :position, as: :hidden,input_html: { class: 'position' } %>
  <%= f.input :content, label: false ,input_html: { class: 'form-control-full' }%>
</div>
