<div class="content-wrapper content-wrapper-white wrapper">
  <div class="container">
    <div class="content listing-page-content">
      <!--Search box-->
      <div class="row">
        <div class="col-xs-12">
          <div class="search-box">
            <form action="#">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" id="inputValidation" placeholder="Search" />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/.Search box-->
      <!--Panel Content-->
      <div class="listing-page">
        <h1 class="page-title">The List</h1>
        <!--Published Problems-->
        <div class="listing-panel listing-panel-green">
          <div class="title-container">Published Problems</div>
          <div class="problems-list">
            <!--Problem-->
            <% @projects.publications.each do |project| %>
              <div class="problem">
                <div class="media">
                  <div class="media-left">
                    <%= image_tag(project.featured_image_url) %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to project.name, project %>
                    </h4>
                    <p>project.content</p>
                  </div>
                  <div class="media-right media-middle">
                    <a href="#" class="btn btn-sm btn-orange">NEW</a>
                  </div>
                </div>
              </div>
            <% end %>
            <a href="#" class="down-arrow"></a>
          </div>
        </div>
        <!--/.Published Problems-->

        <!--Problems Draft-->
        <div class="listing-panel listing-panel-blue">
          <div class="title-container">Problem Drafts</div>
          <div class="problems-list">
            <!--Problem-->
            <% @projects.drafts.each do |project| %>
              <div class="problem">
                <div class="media">
                  <div class="media-left">
                    <%= image_tag(project.featured_image_url) %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to project.name, project %>
                    </h4>
                    <p>project.content</p>
                  </div>
                  <div class="media-right media-middle">
                    <a href="#" class="btn btn-sm btn-orange">NEW</a>
                  </div>
                </div>
              </div>
            <% end %>
            <a href="#" class="down-arrow"></a>
          </div>
        </div>
        <!--/.Problems Draft-->
      </div>
      <!--/.Panel Content-->
    </div>
  </div>
</div>
