<div class='container' style='margin-top: 5%'>
  <div class="row">
    <div class='offset-by-ten two columns'>
      <%= link_to root_path do %>
        <%= image_tag('problems_icon_p.png', class: 'u-max-full-width', style: 'max-height:50px;') %>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:10%">
    <div class="twelve columns">
      <h1 style="display:inline;"> <%= @project.name %> </h1>
      <img class="u-pull-right" src="http://placehold.it/150x150">
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <p>
        Conent:<br/>
        <%= @project.content %>
      </p>
      <p>
        Hook:<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
      </p>
    </div>
  </div>
</div>