<div class='container' style='margin-top: 5%'>
  <div class="row">
    <div class='offset-by-ten two columns'>
      <%= link_to root_path do %>
        <%= image_tag('problems_icon_p.png', class: 'u-max-full-width', style: 'max-height:50px;') %>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:10%">
    <div class="twelve columns">
      <h1> <%= @project.name %> </h1>
      <p> <%= @project.content %> </p>
    </div>
  </div>
</div>