<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <section class="page-not-found">
      <h1>
        <i class="fa fa-exclamation-triangle"></i>
        Something went wrong.</h1>
      <h3>We investigating these errors, hopefully it doesn't happen again.</h3>
      <h5 class="text-info">If you are the application owner check the logs for more information.</h5>
    </section>
  </div>
  <!--/.Panel Content-->
</div>
