<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <section class="page-not-found">
      <h1>
        <i class="fa fa-exclamation-triangle"></i>
        The page you were looking for doesn't exist.</h1>
      <h3>You may have mistyped the address or the page may have moved.</h3>
      <h5 class="text-info">If you are the application owner check the logs for more information.</h5>
    </section>
  </div>
  <!--/.Panel Content-->
</div>
