/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require chosen
 *= require_self
 */

 /* Begin Navigation Bar Styling */
.nav {
  width: 100%;
  height: 55px;
  padding: 10px 0 0 20px;
  border-bottom: solid 1px #CCCCCC;
  margin-bottom: 30px;
 }

.logo {
  float: left;
  display: inline;
  color: rgb(135, 135, 135);
 }

 .logo h1 {
   margin-bottom: 0;
 }

.menu-items{
  padding: 0;
  margin: 12px 30px 0 0;
  list-style: none;
  float:right;
}

.nav ul li{
  display: inline;
}

.menu-items li a {
   padding: 8px 15px;
   text-decoration: none;
   font-weight: bold;
   color: black;
 }
.nav li a:hover {
   color: #0FA0CE;
 }

/* End navigation bar styling. */

/* This is just styling for this specific page. */

.wrap {
   width: 750px;
   margin: 0 auto;
   background-color: #fff; }

.content {
   padding: 0 50px 50px;
 }

.text-center {
  text-align: center;
}

input[type="checkbox"]{
  margin: 0 5px 0 0;
}

.chosen-container-multi .chosen-choices{
  height: 40px;
  padding: 4px 6px 4px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #fff;
    background-image: none;
  }

a.logo:hover {
   background-color: transparent;
   text-decoration: none;
}

.top-basic{
  margin-top:10%;
}

.clear-margin-left{
  margin-left: 5px;
}

/* flash message styling */

.alert {
  padding: 15px;
  margin-top: -30px;
  margin-bottom: 20px;
  border-bottom: 4px solid transparent;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-success {
  color: #33CC66;
  border-color: #00F051;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #33C3F0;
  border-color: #33C3F0;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #FFB400;
  border-color: #FFB400;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #FF2800;
  border-color: #FF2800;
}
.alert-danger hr {
  border-top-color: #FF2800;
}
.alert-danger .alert-link {
  color: #990000;
}

.dropdown {
  position: relative;
  width: 100%;
  display: inline-block;
}

.dropdown button {
  width: 100%;
}

.dropdown .dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  background: #FFFFFF;
}

.dropdown:hover .dropdown-menu {
  /** Show dropdown menu */
  display: block;
  width: 209px;
  background: #FFFFFF;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown:hover button {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-menu:hover .dropdown{
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown a:hover {
    background: #BBBBBB;
}
