/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require chosen
 *= require_self
 */

.text-center {
  text-align: center;
}

input[type="checkbox"]{
  margin: 0 5px 0 0;
}

.chosen-container-multi .chosen-choices{
  height: 40px;
  padding: 4px 6px 4px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #fff;
    background-image: none;
  }

a.logo:hover {
   background-color: transparent;
   text-decoration: none;
}

.top-basic{
  margin-top:10%;
}

.clear-margin-left{
  margin-left: 5px;
}