<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <h1 class="page-title">Edit standard</h1>
    <div class="clearfix"></div>
    <div class="edit-standard-panel">
      <form action="#" class="form">
        <div class="row">

          <%= render 'form' %>
          <div class="col-xs-12 button-navigation">
            <%= link_to 'Show', @standard, {class: "btn btn-info"} %>
            <%= link_to 'Back', standards_path, {class: "btn btn-warning"} %>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/.Panel Content-->
</div>
