<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_attachment_type.name %>
</p>

<%= link_to 'Edit', edit_project_attachment_type_path(@project_attachment_type) %> |
<%= link_to 'Back', project_attachment_types_path %>
