<div class="container">
  <p style="text-align:center;">
    <small>
      <%= link_to 'Problems', root_url %>
      <br>
      COPYRIGHT 2015
      <br>
      <%= render 'layouts/sign_in_out_links' %>
    </small>
  </p>
</div>
