<!DOCTYPE html>
<html>
<head>
  <title>Problems</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


